<div class="product-card">
    <img src="{{ url_for('static', filename=image_path) }}" alt="{{ product_type }}">
    <div class="product-details">
        <h3>{{ product_type.replace('-', ' ').title() }}</h3>
        <table>
            {% for row in prices %}
            <tr>
                <td>{{ row["supplier"] }}</td>
                <td>
                    {% if row["price"] and row["price"] not in ["None", "NONE"] %}
                        ${{ "%.2f"|format(row["price"]|float) }}
                    {% else %}
                        None
                    {% endif %}
                </td>
                <td>
                    {% if row["lowest_price"] not in ["None", "NONE", None] %}
                        ${{ "%.2f"|format(row["lowest_price"]|float) }}
                    {% else %}
                        None
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>